.move-button2{
    color: #4E7A8C;
    background-color: #E8F8FF;
    border-radius: 10px;
    border: 2px solid #4E7A8C;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}