.create-container{
    width: 550px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    .create-container-title{
        margin: 56px auto;
        width: 150px;
        font-size: 35px;
        text-align: center;
        font-weight: bold;
    }
    .create-room-form{
        width: 76%;
        margin: 0 auto;
        text-align: center;
        select{
            -moz-appearance: none;
            display: block;
            height: 40px;
            min-width: 440px;
            border-radius: 8px;
            color : #4E7A8C;
            background: #E8F8FF;
            border: 2px solid rgb(69, 170, 242);
            outline: none;
            margin-bottom: 40px;
        }
        select:hover{
            border: 2px solid #4E7A8C;
        }
        select:focus{
            border: 2px solid #4E7A8C;
        }
        .checkbox-container{
            margin-bottom: 20px;
        }
        .room-input{
            min-width:440px;
            height: 40px;
            border-radius: 8px;
            color : #4E7A8C;
            border: 2px solid rgb(69, 170, 242);
            margin-bottom: 20px;
            background: #E8F8FF;
            outline: none;
            padding: 0;
        }
        .room-input:hover{
            border: 2px solid #4E7A8C;
        }
        .room-input:focus{
            border: 2px solid #4E7A8C;
        }
        .checkbox{
            width: 20px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid #4E7A8C;
            margin-left: 40px;
            cursor: pointer;
            background: rgb(99, 205, 218);
        }
        .checkbox-label{
            font-size: 24px;
            margin-right: 40px;
        }
        .create-room-btn{
            border-radius: 10px;
            padding: 10px 40px 10px 40px;
            font-size: 20px;
            // margin-left: 20px;
            margin-right: 60px;
            background-color: #4E7A8C;
            border: 1px solid white;
            color: white;
        }       
    }
}
.black-out{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
