

.footer{
  margin: 10px 0 20px 0;
  margin-left: 50px;
  opacity: 0.3;
  display: flex;
  font-size: 5px;
  // position: absolute;
  bottom: 0rem;
  .footer-left{
    margin-right: 30px;
    cursor: pointer;
  };
  .footer-right{
    margin-left: 30px;
    cursor: pointer;
  };
}

