.mainpage{
  width: 100vw;
}
.layout{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100vw;
  .main-rank{
    max-width: 1260px;
    height: 7vh;
    width: calc(98vw - 300px);
    box-shadow: 1px 1px 5px #e5d493;
    border-radius: 20px;
    margin: 31px 10px 15px 30px;
    padding: 12px;
  };
};
