.layout{
  display: flex;
  margin: 0 auto;
  justify-content: center;

  .main-rank{
    max-width: 2500px;
    height: 15vh;
    width: calc(98vw - 300px);
    box-shadow: 1px 1px 5px #e5d493;
    border-radius: 20px;
    margin: 20px 10px 15px 30px;
    padding: 12px;
  };
  
  .default-page-size{
    max-width: 2500px;
    height: 70vh;
    width: calc(98vw - 300px);
    box-shadow: 1px 1px 5px #e5d493;
    border-radius: 20px;
    margin: 10px 10px 10px 30px;
    padding: 12px;
    position: relative;

    .main-page-title{
      font-size: 30px;
      margin: 20px 20px 40px 20px;
      color: rgb(153, 95, 7);
    };
    
    .add-chatroom{
      font-size: 30px;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 100%;
      box-shadow: 1px 1px 5px #978c5f;
      position: absolute;
      bottom: 2rem;
      right: 3rem;
      background: linear-gradient(151.46deg, #FFEBA3 7.86%, #FFCE75 74.65%);
      cursor: pointer;
    };
  };
};
