.myinfo{
    width: 450px;
    margin:20px auto;
    min-height: 330px;
    text-align: center;
    align-items: center;
    display : flex;
    justify-content: center;
    .info-img{
        width: 150px;
        border-radius: 50%;
        margin-bottom: 12px;
    }
    .info-content{
        width: 300px;
        .username{
            font-size: 25px;
            margin-bottom: 12px;
        }
        .move-point{
            text-decoration: none;
            color: black;
        }
        button{
            margin-right: 10px;
            margin-left: 7px;
            box-shadow: 2px 2px 2px gray;
        }
        img{
            margin-right: 7px;
            width: 35px;
        }
    }
}